
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.card {
  > .table-responsive > .table > tbody:first-child > tr:first-child th,
  > .table-responsive > .table > tbody:first-child > tr:first-child td {
    border-top: 0;
  }

  > .table-responsive > .table,
  > .table {
    margin-bottom: 0;

    td,
    th {
      &:first-child {
        padding-left: $card-spacer-x;
      }
      &:last-child {
        padding-right: $card-spacer-x;
      }
    }
  }
}
